hr {
  margin: 0;
  padding: 0;
  border-bottom: 5px solid white;
  width: 80vw;
}
.middlenav {
  margin-right: 0;
}
.heroimg {
  height: 550px;
  width: 100vw;
  background-image: url(./assets/heor.jpg);

  background-size: 100%;
  background-repeat: no-repeat;
  background-position: cover;

  object-position: center;
}
.navbar {
  --bs-navbar-padding-y: 0;
}
.learnMore {
  bottom: 1rem;
}
.products {
  border: 2px solid black;
  width: 100vw;
  height: 400px;
  margin: auto;
}
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
/* .card {
  height: 384px;
  color: white;
  transition: transform 0.5s;
  cursor: pointer;
  border: 2px solid black;
}
.card-img {
  height: 100%;
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
}
.card-img-overlay {
  left: 170px;
  top: 170px;
}
.card-img,
.card:hover {
  transform: scale(0.8);
} */
.product_card {
  position: relative;
  height: 30vh;
  overflow: hidden;
}
.product_card:nth-child(1) {
  border-right: 5px solid white;
}
.product_card:nth-child(2) {
  border-right: 5px solid white;
}

.img_title {
  position: absolute;
  top: 5rem;
  left: 5rem;
}
.product_card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.3s;
}
.product_card img:hover {
  transform: scale(1.15);
}
.img_title {
  color: white;
  font-size: 45px;
}
.products_wrapper {
  border-top: 10px solid white;
  border-radius: 2px;
}
.carousel-control-next-icon,
.carousel-control-prev {
  height: 6rem;
  width: 6rem;
}
